.App {
  text-align: center;
}

h1 {
  color: black;
}

input {
  width: 80%;
  padding: 8px;
  margin: 10px;
  font-size: 16px;
  border-radius: 8px;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff; /* Warna biru */
  color: white;
  border: none;
  border-radius: 8px;
}

button:hover {
  background-color: #0056b3; /* Warna biru yang lebih gelap pada hover */
}

.container {
  display: flex;
  justify-content: center;
}

.column {
  flex: 1;
  margin: 20px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  margin: 8px;
  font-size: 18px;
  background-color: #f0f0f0;
  border-radius: 8px;
}
